$font-primary:"Trebuchet MS",
Arial,
Helvetica,
sans-serif;
$font-secondary: "Trebuchet MS",
Arial,
Helvetica,
sans-serif;
$color-edulink-primary:#baa360;
$color-edulink-secondary:#ccb779;
$color-primary-white:#FFF;
$color-secondary-white:#CCC;
$color-primary-black:#000;
$color-grey-light:#CCC;
$color-grey-fair:#999;
$color-grey-dark:#171717;
$color-grey-dark-fade:rgba(0, 0, 0, 0.61);
$color-error-primary:#b33030;
$color-error-secondary:rgba(216, 77, 71, 1);
$color-success-primary: #00a84f;
$color-success-secondary: #00a84f;
$color-info: #8eb4cb;
$color-warning-primary: #ffda07;
$color-danger-primary: #b33030;
$input-box-shadow:0 .1rem .3rem .1rem #CCC inset;
$box-shadow-light-inset:0 .1rem 2rem -.5rem $color-primary-black inset;
$box-shadow-light:0 .1rem 2rem -.5rem $color-primary-black;
$box-shadow-dark:0 .1rem 4rem -.5rem $color-primary-black;
$box-shadow-edulink-light:0 .1rem 2rem -.5rem $color-edulink-secondary;
$box-shadow-success: 0 .1rem 2rem 0 $color-success-primary;
$box-shadow-error: 0 .1rem 2rem 0 $color-error-primary;
$text-shadow-light: 0 0 2rem #000;