.art--1__con {
  width: 28%;
  height: 50rem;
  position: relative;
  margin: 3rem 2.5%;
  float: left;
  box-shadow: 0 0.1rem 2rem -0.5rem #000;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .art--1__con:hover {
    box-shadow: 0 0.1rem 2rem -0.5rem #939; }
  .art--1__con__up {
    width: 100%;
    height: 40%;
    float: left;
    overflow: hidden; }
  .art--1__con__down {
    width: 100%;
    height: 60%;
    float: left;
    padding: 1% 2%;
    box-shadow: 0 0.1rem 2rem -0.5rem #000; }

.art--1__title {
  color: #909;
  width: 95%;
  padding: .5rem 0 0 5%;
  max-height: 10rem;
  overflow: hidden; }

.art--1__author {
  color: #171717;
  width: 80%;
  padding: .5rem 2% .5rem 5%;
  overflow: hidden; }

.art--1__time {
  color: #171717;
  width: 80%;
  padding: 0 2% .5rem 5%;
  overflow: hidden; }

.art--1__text {
  color: #171717;
  width: 65%;
  height: 70%;
  padding-left: 5%;
  float: left;
  overflow: hidden; }

.art--1__stat {
  float: right;
  width: 20%;
  height: 100%; }
  .art--1__stat__view, .art--1__stat__likes, .art--1__stat__com {
    width: 100%;
    height: 3rem; }
  .art--1__stat__icon {
    width: 2rem;
    height: 2rem;
    margin: .5rem 0;
    overflow: hidden;
    float: left; }
  .art--1__stat__value {
    float: right;
    width: 50%;
    color: #939; }

.art--1__edit, .art--1__del {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  margin: 1rem auto; }

.art--1__edit {
  margin-top: 1rem; }

#main {
  height: 40rem;
  margin: 5rem auto;
  position: static; }

.topBar {
  border-bottom: solid 0.1rem #909;
  float: left;
  width: 100%; }
  .topBar__title {
    color: #909;
    padding: 1rem 2rem;
    float: left; }
  .topBar__right {
    height: 5rem;
    padding: 0;
    float: right; }
    .topBar__right__add {
      height: 5rem;
      width: 15rem;
      float: right; }
    .topBar__right__button {
      height: 4rem;
      width: auto;
      float: right; }

