#section_1 {
  float: left;
  height: 100vh;
  margin-top: -10vh;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative; }

.view--active, .view--disabled {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #FFF;
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%; }

.view--active {
  height: 100%; }

.view--disabled {
  height: 0; }

.view--scrollable {
  overflow: scroll;
  width: 100%;
  height: 100%; }

.viewh--active, .viewh--disabled {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #FFF;
  float: left;
  overflow: hidden;
  position: relative;
  height: 100%; }

.viewh--active {
  width: 100%; }

.viewh--disabled {
  width: 0; }

.view__options--1, .view__options--2, .view__options--3, .view__options--4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  left: 2%; }

.view__options--1 .view__option--active {
  border: solid 0.1rem #baa360; }
  .view__options--1 .view__option--active .icon {
    fill: #baa360; }
  .view__options--1 .view__option--active:hover {
    border: solid 0.1rem #baa360; }
    .view__options--1 .view__option--active:hover .icon {
      fill: #baa360; }

.view__options--1 .view__option--disabled {
  border: solid 0.1rem #baa360; }
  .view__options--1 .view__option--disabled .icon {
    fill: #baa360; }
  .view__options--1 .view__option--disabled:hover {
    border: solid 0.1rem #baa360; }
    .view__options--1 .view__option--disabled:hover .icon {
      fill: #baa360; }

.view__options--2 .view__option--active,
.view__options--3 .view__option--active,
.view__options--4 .view__option--active {
  border: solid 0.1rem #baa360;
  background-color: #baa360; }
  .view__options--2 .view__option--active .icon,
  .view__options--3 .view__option--active .icon,
  .view__options--4 .view__option--active .icon {
    fill: #FFF; }

.view__options--2 .view__option--disabled,
.view__options--3 .view__option--disabled,
.view__options--4 .view__option--disabled {
  border: solid 0.1rem #baa360; }
  .view__options--2 .view__option--disabled .icon,
  .view__options--3 .view__option--disabled .icon,
  .view__options--4 .view__option--disabled .icon {
    fill: #baa360; }
  .view__options--2 .view__option--disabled:hover,
  .view__options--3 .view__option--disabled:hover,
  .view__options--4 .view__option--disabled:hover {
    border: solid 0.1rem #baa360;
    background-color: #baa360; }
    .view__options--2 .view__option--disabled:hover .icon,
    .view__options--3 .view__option--disabled:hover .icon,
    .view__options--4 .view__option--disabled:hover .icon {
      fill: #FFF; }

.view__option--active, .view__option--disabled {
  border: solid 0.1rem #FFF;
  width: 5rem;
  height: 5rem;
  clear: both; }
  .view__option--active .icon, .view__option--disabled .icon {
    width: 5rem;
    height: 5rem;
    padding: 1.5rem; }

.lview {
  height: 100%;
  width: 100%;
  padding: 15vh 10% 0 10%;
  background-color: #CCC;
  position: relative; }
  .lview--2 .lview__content, .lview--4 .lview__content {
    width: 50%;
    margin-left: 50%; }
  .lview--2 .lview__buttons, .lview--4 .lview__buttons {
    left: 50%; }
  .lview__content {
    float: left;
    width: 50%;
    padding: 2rem 0; }
  .lview__title, .lview__body {
    float: left;
    color: #FFF;
    margin-bottom: 3rem;
    clear: both;
    text-shadow: 0 0 2rem #000; }
  .lview__body {
    line-height: 3rem; }
  .lview__buttons {
    position: absolute;
    z-index: 50;
    bottom: 20vh;
    float: left; }
  .lview__button {
    margin-right: 2rem;
    width: 15rem;
    float: left; }
  .lview__arrow .icon {
    width: 4rem;
    height: 4rem;
    fill: #FFF; }
  @media (max-width: 56.25em) {
    .lview {
      padding: 15vh 10% 0 15%; }
      .lview__content {
        width: 80%;
        padding: 2rem; } }
  @media (max-width: 37.5em) {
    .lview__content {
      width: 90%;
      padding: 2rem; }
    .lview--2 .lview__content, .lview--4 .lview__content {
      width: 90%;
      margin: 0; }
    .lview--2 .lview__buttons, .lview--4 .lview__buttons {
      left: 15%; } }

.infoView {
  overflow: scroll;
  overflow-x: hidden;
  height: 90vh;
  width: 100%;
  margin-top: 10vh; }
  .infoView__content {
    float: left; }
  .infoView__1 {
    float: left;
    width: 100%;
    padding: 5rem 20%; }
    .infoView__1__title {
      width: 100%;
      margin-bottom: 3rem;
      color: #baa360; }
    .infoView__1__text {
      width: 100%;
      color: #171717; }
  .infoView__2 {
    float: left;
    width: 100%;
    padding: 5rem 20%; }
  .infoView__3 {
    float: left;
    width: 100%;
    padding: 5rem 0;
    background: radial-gradient(circle at center, #baa360, #baa360); }
    .infoView__3__title {
      width: 100%;
      margin-bottom: 1rem;
      color: #FFF; }
    .infoView__3__text {
      width: 100%;
      color: #FFF;
      line-height: 2rem; }
    .infoView__3__buttons {
      margin: 5rem 0 0 50%;
      transform: translatex(-50%);
      float: left; }
    .infoView__3__button {
      margin: 0 2rem;
      width: 20rem;
      float: left; }

.infoBox {
  width: 33.3%;
  padding: 4rem;
  float: left; }
  @media (max-width: 56.25em) {
    .infoBox {
      width: 50%;
      padding: 4rem 2rem; } }
  @media (max-width: 37.5em) {
    .infoBox {
      width: 100%;
      padding: 4rem 0; } }
  .infoBox__icon {
    width: 8rem;
    height: 8rem;
    margin-left: 50%;
    transform: translateX(-50%);
    float: left; }
    .infoBox__icon .icon {
      width: 100%;
      height: 100%; }
  .infoBox__title {
    margin: 2rem 0 3rem 50%;
    transform: translateX(-50%);
    color: #FFF;
    float: left;
    clear: both;
    background: linear-gradient(90deg, #baa360, #baa360);
    padding: 1rem 3rem; }
  .infoBox__text {
    width: 100%;
    color: #171717;
    float: left;
    margin: 2rem 0; }
  .infoBox__list {
    float: left;
    width: 100%;
    color: #171717; }
    .infoBox__list li {
      padding: .5rem 0; }
  .infoBox__price {
    float: left;
    color: #171717;
    width: 100%; }
    .infoBox__price strong {
      color: #00a84f; }

.articlesView {
  float: left;
  width: 100%;
  margin-top: 10vh;
  padding: 2rem 0 0 10%; }
  .articlesView__topBar {
    float: left; }
    .articlesView__topBar__back {
      float: left;
      width: 15rem; }
    .articlesView__topBar__title {
      float: left; }
  .articlesView__content {
    min-height: 60vh;
    float: left;
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto; }
    .articlesView__content .art {
      grid-column: span 1; }
    @media (max-width: 75em) {
      .articlesView__content {
        grid-template-columns: 50% 50%; } }
    @media (max-width: 37.5em) {
      .articlesView__content {
        grid-template-columns: 100%; } }
  .articlesView__load {
    margin-top: 2rem;
    float: left;
    width: 15rem; }

