@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/base";
@import "base/typography";
@import "components/form-set-1";
@import "components/headers/admin_header";
@import "components/navMenu";
@import "components/repo";
@import "components/menuType1";
@import "components/menuType2";
@import "components/menuType3";
@import "components/ddisplay";
@import "components/ck";
@import "components/progressBar/primary";
@import "components/admin/errorPopup-right";
@import "components/admin/popup";
@import "components/fine-uploader-gallery";
@import "components/tagInput";
#section_1 {
    width: 85%;
    float: right;
    height: 90vh;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    margin-left: 15%;
}

.main {
    margin-top: 10vh;
}

#adminSideBarMenu {
    position: fixed;
    height: 90%;
    width: 15%;
    z-index: 60;
    background-color: $color-grey-dark;
}

#content {
    width: 80%;
    margin: 5rem 10%;
    float: left;
    &--full {
        width: 100%;
        float: left;
    }
}