@import "../../abstracts/mixins";
@import "../../abstracts/variables";
#main {
    position: relative;
}

.form {
    &__image {
        width: 100%;
        height: 30rem;
        #img_select {
            width: 100%;
            height: 100%;
            position: relative;
            &__img {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 0;
                float: left;
                overflow: hidden;
            }
            &__buttons {
                width: 10%;
                height: 5rem;
                position: absolute;
                bottom: 0;
                margin: 0 40%;
                z-index: 20;
                float: left;
                overflow: hidden;
            }
        }
    }
    &__box {
        position: relative;
        width: 60%;
        margin: 5rem 20% 10rem 20%;
        float: left;
    }
    &__title,
    &__author,
    &__textBox,
    &__summaryBox,
    &__tagInput {
        float: left;
        width: 100%;
        margin-bottom: 3rem;
    }
    &__textBox,
    &__tagInput {
        &__label{
            color:$color-edulink-primary;
            margin-bottom:1rem;
        }
    }
    &__summaryBox {
        textarea {
            min-height: 5rem;
            max-height: 15rem;
        }
    }
    &__buttons {
        float: left;
        &__button {
            width: 15rem;
            float: left;
            height: 5rem;
        }
    }
}

.popUp__content {
    width: 150vh;
    height: 80vh;
}