@import '../../abstracts/variables';
@import '../../abstracts/mixins';
#registrationComponent {
    width: 100%;
    height: 85vh;
    float: left;
}

.resetForm {
    position: relative;
    background-color: $color-primary-white;
    border-radius: .5rem;
    box-shadow: $box-shadow-light;
    height: 75vh;
    overflow: hidden;
    width: 50%;
    margin: 5vh 0 5vh 50%;
    transform: translateX(-50%);
    .text_input_2 {
        background-color: rgba(153, 0, 153, 0.23);
    }
    &__forms {
        width: 100%;
        float: left;
        height: 90%;
        position: relative;
    }
}

.resetOption {
    width: 80%;
    margin: 0 0 2rem 0;
    float: left;
    line-height: 5rem;
    padding: 0 2rem;
    color: $color-edulink-primary;
    border: solid .1rem $color-edulink-primary;
    cursor: pointer;
    @include transition-type-2;
    &:hover {
        background-color: $color-edulink-primary;
        color: $color-primary-white;
    }
}

.navigationBar {
    &--1 {
        width: 100%;
        position: relative;
        &__step {
            float: left;
            height: 4.5rem;
            padding: 1rem 0;
            color: $color-primary-white;
            background-color: $color-edulink-primary;
            opacity: 0.6;
            &--inactive {
                opacity: 0.6;
            }
            &--active {
                opacity: 1;
            }
        }
    }
    &--1 {
        &__step {
            width: 20%;
        }
    }
}

.form {
    float: left;
    width: 100%;
    &__box {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__details {
        width: 80%;
        margin: 0 10%;
        height: 100%;
        padding-top: 4rem;
        float: left;
        position: relative;
    }
    &__row {
        width: 100%;
        height: 7rem;
        position: relative;
        float: left;
        &__label {
            float: left;
            position: inherit;
            color: $color-primary-black;
            padding: 1rem 0;
        }
        &__right {
            float: left;
        }
    }
    &__buttons {
        bottom: 0;
        float: left;
        height: 15%;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: $color-primary-white;
        width: 38rem;
        &__left,
        &__right {
            width: 15rem;
            min-height: 5rem;
            position: relative;
            float: left;
            margin: 0 2rem;
            border-radius: .3rem;
        }
    }
}

#email_tb,
#pass_tb,
#repass_tb {
    width: 100%;
    height: 35px;
    position: inherit;
    margin-bottom: 5px;
}

#phone_no_tb {
    width: 70%;
    height: 3.5rem;
    float: left;
    position: inherit;
}

#zip_tb {
    width: 20%;
    height: 3.5rem;
    float: left;
    position: inherit;
    margin-right: 10%;
}

.comment {
    width: 100%;
    height: 2rem;
}

.emailBox {
    width: 100%;
    position: relative;
    padding: 5rem 0;
    float: left;
    &__left {
        width: 30%;
        position: relative;
        float: left;
        &__icon {
            width: 5rem;
            height: 5rem;
            margin: 1rem auto;
        }
    }
    &__right {
        width: 70%;
        position: relative;
        float: right;
        &__h {
            color: $color-grey-dark;
            width: 95%;
            padding: .5rem 0;
            float: left;
        }
        &__text {
            color: $color-grey-dark;
            width: 95%;
            padding: .5rem 0;
            float: left;
            padding: 3rem 0;
        }
        &__address {
            color: $color-primary-white;
            background-color: $color-success-primary;
            line-height: 3rem;
            padding: 0 2rem;
            float: left;
            clear: both;
        }
        &__button {
            position: relative;
            float: left;
            border-radius: .3rem;
        }
    }
}