/* btn_icon is a class for buttons containing a single icon*/
@import "../abstracts/variables";
@import "../abstracts/mixins";

.btn_icon_2 {
    &,
    &--normal,
    &--success,
    &--failed,
    &--danger,
    &--warning,
    &--disabled,
    &--selected {
        width: 100%;
        color: $color-edulink-primary;
        float: right;
        border: none;
        display: block;
        position: relative;
        @include transition-type-1;
        .icon {
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
        &:hover .icon {
            opacity: 1;
        }
    }
    &--selected {
        opacity: 1;
    }
    &--disabled {
        display: none;
    }
    &--normal {
        .icon {
            fill: $color-primary-white;
        }
    }
    &--success {
        .icon {
            fill: $color-success-primary;
        }
    }
    &--failed {
        .icon {
            fill: $color-error-secondary;
        }
    }
    &--danger {
        .icon {
            fill: $color-error-primary;
        }
    }
    &--warning {
        .icon {
            fill: $color-edulink-primary;
        }
    }
    &--loading {
        display: inline-block;
        position: relative;
        width: 6.4rem;
        height: 6.4rem;
        div {
            position: absolute;
            top: 2.7rem;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            &:nth-child(1) {
                left: .6rem;
                animation: lds-ellipsis1 0.6s infinite;
            }
            &:nth-child(2) {
                left: .6rem;
                animation: lds-ellipsis2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 2.6rem;
                animation: lds-ellipsis2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 4.5rem;
                animation: lds-ellipsis3 0.6s infinite;
            }
        }
        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }
        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(19px, 0);
            }
        }
    }
    &__number {
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        color: $color-primary-white;
        background: $color-error-primary;
    }
}