/* btnIcon is a class for buttons containing an icon and a label */
@import "../abstracts/variables";
@import "../abstracts/mixins";

.btnIcon_2 {
    background-color: transparent;
    &,
    &--normal,
    &--success,
    &--failed,
    &--warning,
    &--danger {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        opacity: 0.8;
        cursor: pointer;
        @include transition-type-1;
        &:hover {
            opacity: 1.0;
        }
    }
    &--success &__icon .icon {
        fill: $color-success-primary;
    }
    &--success &__label {
        color: $color-success-primary;
    }
    &--failed &__icon .icon {
        fill: $color-error-primary;
    }
    &--failed &__label {
        color: $color-error-primary;
    }
    &--warning &__icon .icon {
        fill: $color-warning-primary;
    }
    &--warning &__label {
        color: $color-warning-primary;
    }
    &--danger &__icon .icon {
        fill: $color-danger-primary;
    }
    &--danger &__label {
        color: $color-danger-primary;
    }
    &--normal &__icon .icon {
        fill: $color-edulink-primary;
    }
    &--normal &__label {
        color: $color-edulink-primary;
    }
    &__icon {
        width: 30%;
        height: 100%;
        float: left;
        overflow: hidden;
        padding: .5rem;
        .icon {
            width: 100%;
            height: 100%;
            fill: $color-grey-dark;
        }
    }
    &__label {
        width: 70%;
        color: $color-grey-dark;
        padding: 0 .5rem;
        float: left;
        &:before {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}