/* btn_icon is a class for buttons containing a single icon*/
@import "../abstracts/variables";
@import "../abstracts/mixins";

.btn_icon {
    &,
    &--normal,
    &--success,
    &--failed,
    &--danger,
    &--warning,
    &--white,
    &--disabled,
    &--selected {
        width: 100%;
        color: $color-edulink-primary;
        float: right;
        border: none;
        display: block;
        position: relative;
        @include transition-type-1;
        .icon {
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
        &:hover .icon {
            opacity: 1;
        }
    }
    &--selected {
        opacity: 1;
    }
    &--disabled {
        display: none;
    }
    &--normal {
        .icon {
            fill: $color-edulink-primary;
        }
    }
    &--success {
        .icon {
            fill: $color-success-primary;
        }
    }
    &--failed {
        .icon {
            fill: $color-error-secondary;
        }
    }
    &--danger {
        .icon {
            fill: $color-error-primary;
        }
    }
    &--warning {
        .icon {
            fill: $color-edulink-primary;
        }
    }
    &--white {
        .icon {
            fill: $color-primary-white;
        }
    }
    &__number {
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        color: $color-primary-white;
        background: $color-error-primary;
    }
}