@import "../abstracts/variables";
@import "../abstracts/mixins";

.cd {
    &,
    &--done,
    &--warning {
        float: left;
        height: 100%;
        width: 100%;
    }
    &--done &__u {
        color: $color-grey-light;
        background-color: $color-primary-white;
    }
    &--warning &__u {
        color: $color-primary-white;
        background-color: $color-danger-primary;
    }
    &--sm &__u {
        padding: 1rem;
    }
    &--m &__u {
        padding: 1.5rem;
    }
    &__u {
        float: left;
        color: $color-primary-white;
        background-color: $color-edulink-primary;
        margin: 0 1%;
        width: 23%;
        height: 100%;
    }
}