@import "../abstracts/variables";
@import "../abstracts/mixins";

.detail_3 {
    &,
    &--error {
        min-height: 5rem;
        width: 100%;
        margin: .5rem 0;
        float: left;
        position: relative;
    }
    &--error {
        .detail_3__label {
            &__text {
                background-color: $color-error-primary;
            }
        }
    }
    &__label,
    &__value {
        width: 47.5%;
        float: left;
    }
    &__label {
        &__text {
            padding: 1.5rem 2rem;
            background-color: $color-edulink-primary;
            color: $color-primary-white;
            box-shadow: $box-shadow-light;
            float: right;
            min-height: 5rem;
        }
    }
    &__value {
        color: $color-grey-dark;
        margin-left: 5%;
        padding: 1rem 1rem;
        min-height: 5rem;
    }
    &__input {
        color: $color-grey-dark;
        width: 42.5%;
        min-height: 5rem;
        float: left;
        margin-left: 5%;
        &__dd {
            width: 70%;
            height: 3.5rem;
            float: left;
            position: inherit;
        }
    }
    &__icon {
        width: 5%;
        height: 3.5rem;
        margin-left: 1rem;
        float: left;
    }
}