@import "../abstracts/variables";
@import "../abstracts/mixins";

.detail_2 {
    min-height: 3.5rem;
    width: 100%;
    margin: .5rem 0;
    float: left;
    position: relative;
    &__label,
    &__value {
        width: 47.5%;
        min-height: 3.5rem;
        float: left;
        padding: .5rem 1rem;
    }
    &__label {
        background-color: $color-edulink-primary;
        color: $color-primary-white;
        box-shadow: $box-shadow-light;
    }
    &__value {
        color: $color-grey-dark;
        margin-left: 5%;
    }
    &__input {
        color: $color-grey-dark;
        width: 40%;
        height: 3.5rem;
        float: left;
        margin-left: 5%;
        position: relative;
    }
    &__icon {
        width: 5%;
        height: 3.5rem;
        float: right;
    }
}