@import "../abstracts/variables";
@import "../abstracts/mixins";


.errorComment {
    &--active,
    &--disabled {
        @include transition-type-1;
    }
    &--active {
        width: 100%;
        float: left;
        background-color: $color-error-secondary;
        color: $color-primary-white;
        padding: 1rem;
        position: relative;
    }
    &--disabled {
        width: 0;
        overflow: hidden;
        position: absolute;
    }
}