<!DOCTYPE>
<html>

<head>

    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{stylesheet_tag('admin_css')   |   safe}}
    {{javascript_tag('admin_js')   | safe}}

    {% block styles %}{% endblock %}

    {% block scripts %}{% endblock %}


</head>

<body>
    <div id="svg_icons"></div>
    <div id="adminHeaderComponent"></div>

    <div class="main">
        <div id="adminSidebarComponent"></div>

    {{javascript_tag('admin_header_js') | safe}}

    {% block body %}{% endblock %}

    </div>
</body>

</html>