<!DOCTYPE>
<html>

<head>

    <title>{% block title %}{% endblock%}</title>
    

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{stylesheet_tag('main_css') |   safe}}

    {% block styles %}{% endblock%}

    {% block scripts %}{% endblock%}

</head>

<body>
    <div id="svg_icons"></div>
    <div id="mainHeaderComponent"></div>
    {{javascript_tag('main_header_js') | safe }}

    {% block body %}{%endblock%}
</body>

</html>